<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Video</title>
    <link rel="stylesheet" href="/css/materialize.min.css">
    <link rel="stylesheet" href="/css/video-js.css">
    <link rel="stylesheet" href="/css/palette-color-picker.css">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/overlays.css">
    <link href="https://fonts.cat.net/icon?family=Material+Icons" rel="stylesheet">
    <script src="/javascript/jquery-3.2.1.js"></script>
    <script src="/javascript/materialize.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body>
<header>
    <nav>
        <div class="nav-wrapper">
            <% if (!user) { %>
            <ul class="right">
                <li><a href="/login" class="btn">登录</a></li>
                <li><a href="/register" class="btn">注册</a></li>
            </ul>
            <% } else { %>

            <ul class="right">
                <li>
                    <a class="dropdown-button avatar avatar-dropdown"
                       data-activates="dropdown-list"
                       data-hover="true"
                       data-belowOrigin="true"
                       data-constrainWidth="false"
                       data-gutter="100px">
                        <img src="/img/avatar.jpg">
                    </a>
                </li>

                <!--<li><span><%= user.name %>你好</span></li>-->
                <!--<li><a href="/logout">登出</a></li>-->
            </ul>
            <ul id="dropdown-list" class="dropdown-content">
                <li><a href="/logout">登出</a></li>
            </ul>
            <% } %>
            <ul class="right">
                <li><a href="/video">主页</a></li>
                <li><a href="#">我的课程</a></li>
                <li><a href="#">问答专区</a></li>
            </ul>
        </div>
    </nav>
</header>
<%- include('./component/notification.ejs') %>